<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html><head>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">

  <link rel="stylesheet" type="text/css" href="/style/style.css" title="default">
  <link rel="alternate" type="application/rss+xml" title="${title} RSS feed" href="rss/atom.xml" />

  <link rel="shortcut icon" href="favicon.png">
  <title><%block name="title"/> | Haiku Files</title></head><body>
  <div id="wrapper">
   <div id="header">
    <div id="logo">
    <a href="http://download.haiku-os.org/"><img src="/style/haiku_logo_white.svg" alt="logo" style="height: 98px; width: 305px; margin: -5px 0 0 -15px; padding: 0 0 0px 3px;"></a>
    </div>
    <div id="links">
     <a href="http://www.haiku-os.org/"><img src="/style/icon_haiku_32.png" alt="Haiku Project" title="Haiku Project"></a>
     <a href="http://dev.haiku-os.org/"><img src="/style/icon_bug_tracker_32.png" alt="Haiku's Bug Tracker" title="Haiku's Bug Tracker"></a>
     <img src="/style/top-link-separator.png" alt="sep" style="padding: 0pt 10px;">
     <a href="http://www.haiku-os.org/contact"><img src="/style/icon_32_mail.png" alt="contact" title="Contact the Haiku Project"></a>
     <a href="http://www.haiku-os.org/community/donating_to_haiku"><img src="/style/icon_32_donate.png" alt="donate" title="Make a donation to the Haiku Project"></a>
    </div>
   </div>
   <div id="menu">
   </div>
<div id="content">
	<div class="box">
		<%block name="description"/>
		<p>
For more information on missing packages, image and archive formats, etc.,
please refer to this site's <a href="http://download.haiku-os.org/">main page</a>.
		</p>
	</div>

	<div class="box">
		<img src="/style/ico_64_folder_dev.png" alt="nightlies">
		<h2><%block name="table_title"/></h2>
		<p>
		</p>

        <table>
            <tr>
                <th>Revision</th>
                %for header in headers:
                    <th>${header}</th>
                %endfor
            </tr>

            %for row in table:
                <tr>
                    <td><a href="http://cgit.haiku-os.org/haiku/tag/?id=${row.revision}">${row.revision}</a></td>
                    %for variant in row.variants:
                        <td>
                            %if variant:
                                %for loc,url in variant.items():
                                    <a href="${url}">${loc}</a>
                                    %if "eu-west-1" in variant:
                                        <span class="checksum">[<a href="${variant["europe"]}.sha256">checksum</a>]</span>
                                    %else:
                                        <span class="checksum">[unknown]</span>
                                    %endif
                                %endfor
                            %endif
                        </td>
                    %endfor
                </tr>
            %endfor
        </table>

        ${self.body()}

	</div>

</div>

<div id="footer">
Copyright 2001 - 2018 Haiku, Inc. &#8212; Haiku&#174; and the
HAIKU logo&#174; are registered trademarks of
<a href="http://www.haiku-inc.org">Haiku, Inc.</a>
</div>
		</div>
	</body>
</html>
