<%inherit file="base.html"/>

<%block name="title">mipsel - Unsupported Builds</%block>

<%block name="description">
		<p>
This is an unsupported variant, as x86 is the only CPU architecture being
targeted for R1. It is provided for development and testing purposes only.
Releasing software that requires these unsupported builds is discouraged.
		</p>
</%block>

<%block name="table_title">Unsupported mipsel Builds</%block>

<p>
    The mipsel port is still in too early a stage to provide regular builds.
</p>
