<%inherit file="base.html"/>

<%block name="title">PowerPC - Unsupported Builds</%block>

<%block name="description">
		<p>
This is an unsupported variant, as x86 is the only CPU architecture being
targeted for R1. It is provided for development and testing purposes only.
Releasing software that requires these unsupported builds is discouraged.
		</p>
</%block>

<%block name="table_title">Unsupported ARM Builds</%block>

<p>
    For the PowerPC build to work, you will need to use *both* the Boot CD and the Raw
    Image. The Boot CD contains just the Haiku bootloader.
</p>
