<%inherit file="base.html"/>

<%block name="title">RISCV64 - Unsupported Builds</%block>

<%block name="description">
		<p>
This is an unsupported variant, as x86 is the only CPU architecture being
targeted for R1. It is provided for development and testing purposes only.
Releasing software that requires these unsupported builds is discouraged.
		</p>

  <div class="box-stop">
  The RISCV64 port is in an <b>extremely</b> early state and depends on a functioning
  RISCV64 EFI BIOS. When booting this image written to a USB flash drive on devices like the
  <a href="https://www.sifive.com/boards/hifive-unmatched">SiFive Unmatched</a>, a
  <a href="https://git.haiku-os.org/haiku/tree/3rdparty/kallisti5/unmatched-uboot.sh"> u-boot firmware SD card</a> is required to provide an EFI bios.
  </div>

</%block>

<%block name="table_title">Unsupported RISCV64 Builds</%block>
