<%inherit file="base.html"/>

<%block name="title">SPARC - Unsupported Builds</%block>

<%block name="description">
		<p>
This is an unsupported variant, as x86 is the only CPU architecture being
targeted for R1. It is provided for development and testing purposes only.
Releasing software that requires these unsupported builds is discouraged.
		</p>

  <div class="box-stop">
  The SPARC port is in an extremely early state. The kernel may load but a
  lot of work still needs done before you can get a desktop.
  </div>

</%block>

<%block name="table_title">Unsupported SPARC Builds</%block>
