<%inherit file="base.html"/>

<%block name="title">x86 GCC 5 Hybrid - Unsupported Builds</%block>

<%block name="description">
		<p>
x86 GCC 5 Hybrid is an unsupported variant, as it uses GCC 5 as the main compiler and
assumes GCC 2 objects to be contained in a gcc2 subdirectory. It is provided for
development and testing purposes only. Releasing software that requires these
unsupported builds is discouraged.
		</p>
</%block>

<%block name="table_title">Unsupported x86 GCC 5 Hybrid Builds</%block>
