<%inherit file="base.html"/>

<%block name="title">Recommended Nightly Images</%block>

<%block name="description">
		<p>
The Haiku source is continually built by a dedicated machine. These "nightly
images" are provided mainly for development and testing purposes. You can
download and install these snapshots to check out the latest features
and bugfixes, be aware though that they <strong>may be unstable</strong> at times.
		</p>
		<p>
The GCC 2 Hybrid images on this page are recommended, as they are the most
similar to official releases. Developers who choose to release software that
requires a nightly build, are requested to provide a build for the latest stable nightly
image.
		</p>
</%block>

<%block name="table_title">Recommended Nightly Images (x86 GCC 2 Hybrid)</%block>

<%block name="archive_site_url">http://www.haiku-files.org/haiku/development/</%block>

